# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Debug
bin
obj

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/*

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio cache files
# files ending in .cache can be ignored
*.cache
# but keep track of directories ending in .cache
!*.cache/


# Common IntelliJ Platform excludes
.idea/
